body {
  font-family: 'Merriweather', sans-serif;
}
.hero_img {
  height: 230px;
  background-color: #fff;
}
h2 {
  opacity: 0.4;
  margin-top: 40px;
  line-height: 1.5;
}
.oneliner {
  opacity: 0.35;
  line-height: 1.5;
}
.indent {
  margin-left: 40px;
  width: 460px;
}
svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-white {
  background-color: #fff;
}
.navbar-header,
a {
  color: #000;
  cursor: pointer;
}
.navbar-collapse a {
  font-size: 13px;
  color: #808080;
}
.verticalSpace {
  width: 100%;
  height: 50px;
}

