---
layout: default
title:
---

<div id="home">
<p><h1>Welcome to my Website</h1></p>
<p> I am a current joint <a href="http://www.stat.uchicago.edu/people/ms-students.shtml#ba/ms">Masters/undergraduate student</a>  at the University of Chicago and native of Madison, WI. I have also spent time living in South Korea.</p>
<p> This webpage will be used to host large files for projects. The files are not available to the public. To access them, please contact me for the direct URL</p>
  <h1>Posts:</h1>
 <div class="posts">
    {% for post in site.posts %}
      <p><b>{{ post.date | date_to_string }} - {{ post.title }} </b></p>
	  {% if post.picture != ""%}
	  <IMG SRC= {{post.picture}} height={{post.pheight}} width ={{post.pwidth}} >
	  </br>
	  {% endif %}
	  {{post.content}} 
	  </p></br>
    {% endfor %}
 </div>
</div> 