---
layout: default
title: Tech, Travel & Data
---


<p><a href="/tech.html">Tech Posts </a>
</br><a href="/travels.html">Travel Posts </a>
</br> All posts: </p>


<div class="posts">
 
    {% for post in site.posts %}
      {% if post.long == "T"%}
	  <p><b>{{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a></b></p>
	  {% else %}
	  <p><b>{{ post.date | date_to_string }} - {{ post.title }} </b></p>
	  {% endif %}
	  {% if post.picture != ""%}
	  <IMG SRC= {{post.picture}} height={{post.pheight}} width ={{post.pwidth}} >
	  </br>
	  {% endif %}
	  {% if post.long == "T"%}
	 <p> {{post.subtitle}}</p>
<p>	  <a href="{{ post.url }}">Read the full post</a></p>
	  {% endif %}
	  {% if post.long == "F"%}
	  {{post.content}} 
	  {% endif %}
	  <hr>
    {% endfor %}
 </div>

