<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title> {% if page.title %} {{ page.title }} | {% endif %} Nelson Auner - Tech, Travels &amp; Data </title>
		<meta name="keywords" content="Nelson Auner, Economics, Korea, Research, Madison, Wisconsin, University of Chicago, CLS, NSLI-Y, uchicago" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="Nelson Auner" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.R.xml">
		<link rel="stylesheet" href="/css/main.css" />
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	</head>
	<style>
#header {
	padding:50px;
	text-align:center;
	font-size:22px;
}
	.label-icon {
		background-color:black;
		font-family: Helvetica-Neue, Helvetica, Arial
		padding-top: 0.2em;
		color:white;
		padding-right: 0.6em;
		padding-bottom: 0.3em;
		padding-top: 0.3em;
		padding-left: 0.6em;
		font-size:80%;
		display:inline;
		text-align:center;
		white-space: nowrap;
		vertical-align: baseline;
		border:

	}
	</style>

	<body>

		<div class="container">
			<div id="header">
				<a class="label-icon" data-toggle="tooltip"  href="{{ site.baseurl }}">Nelson Auner</a>
				<a class="label-icon" data-toggle="tooltip" data-title="Posts" href="/posts.html">posts</a>
				<a class="label-icon" data-toggle="tooltip" data-title="Research" href="/CV.html">research</a>
				<a class="label-icon" data-toggle="tooltip" data-title="Race Schedule" href="/raceschedule.html">races</a>
				<a class="label-icon" data-toggle="tooltip" data-title="linkedin" href="https://linkedin.com/in/nelsonauner"><i class="fa fa-linkedin fa-2"></i></a>
				<a class="label-icon" data-toggle="tooltip" data-title="linkedin" href="https://twitter.com/nelsonauner"><i class="fa fa-twitter fa-2"></i></a>
				<a class="label-icon" data-toggle="tooltip" data-title="Github" href="https://github.com/nelsonauner"><i class="fa fa-github fa-2" style="font-size:22px;"></i></a>
			</div>
		</div>


		<div class ="container content" id="content"> 
			<div id="insidecontent"> 
				{{ content }} 
			</div>
			<div style="clear: both;"></div>
		</div>


		<footer class="footer">
			<div class="container">
				<p class="text-center" style="padding-top:5px;"> &#169; Nelson Auner 2013-<span id="footer-year">  </span> </p>
			</div>
		</footer>




	</body>
	<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-46825538-1']);
_gaq.push(['_trackPageview']);
(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
	ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
	</script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

	<script>
$(function() {
	$('#about-me-toggle').bootstrapToggle({
		on: 'More about me',
		off: 'Less about me'
	});
})
$("#about-me-toggle").change(function(){
	$("#more-about-me").slideToggle(500)
});
$("#footer-year").text(new Date().getFullYear());
	</script>
</html>
