<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Nelson Auner - Official Webpage </title>
  <meta name="keywords" content="Nelson Auner, Economics, Korea, Research, Madison, Wisconsin, University of Chicago, CLS, NSLI-Y" />
<meta name="robots" content="index, follow" />
<meta name="description" content="" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/syntax.css">
  </head>
<body>
<!-- start header -->
<div id="header">
  <!--Header start -->
 <div id="logo">
	<h1>Nelson Auner</h1>
<!--	<h2>Student at the University of Chicago</h2>  -->
  </div>
</div>

   <div id="toplinks">
  <ul>
   <li><a href="http://home.uchicago.edu/~nauner">Home</a></li>
   <!--    <li><a href="http://home.uchicago.edu/~nauner/"></a></li> -->
      <li><a href="http://home.uchicago.edu/~nauner/research.html">Research</a></li> 
   <li><a href="http://home.uchicago.edu/~nauner/travels.html">Travels</a></li>
   <li><a href="http://home.uchicago.edu/~nauner/food.html">Food</a></li>
   <li><a href="http://home.uchicago.edu/~nauner/techtips.html">Tech Tips</a></li>
   <li><a href="http://home.uchicago.edu/~nauner/contact.html">Contact</a></li>   
  </ul>
</div>

		  
  <div id="wrapper">	
  <div id="text">
 	  

    {{ content }}
 
	</div>
    <div id = "footer">
      <p> Thanks for reading </p>
    </div>

  </div>
</body>
</html>